<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="DC4C1DDD-2237-48F5-8FE1-80BA5C444A34" Name="MediVote" Language="1033" Version="1.0.0" Manufacturer="The Median" UpgradeCode="B8F13AEA-EA2F-43BD-8A65-304217B54907">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="MediVote - Secure Blockchain Voting System" Comments="Professional installer for MediVote application" Manufacturer="The Median"/>
    <Media Id="1" Cabinet="medivote.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MediVote"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MediVote"/>
      </Directory>
    </Directory>
    <Component Id="MainExecutable" Guid="3FA69324-406D-44E7-BB25-791C303A87E6" Directory="INSTALLFOLDER">
      <File Id="MediVoteEXE" Source="dist\MediVote.exe" KeyPath="yes" Checksum="yes"/>
      <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="MediVote" Target="[INSTALLFOLDER]MediVote.exe" WorkingDirectory="INSTALLFOLDER" Icon="medivote.ico" Description="MediVote - Secure Blockchain Voting System"/>
      <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="MediVote" Target="[INSTALLFOLDER]MediVote.exe" WorkingDirectory="INSTALLFOLDER" Icon="medivote.ico" Description="MediVote - Secure Blockchain Voting System"/>
      <Shortcut Id="UninstallShortcut" Directory="ApplicationProgramsFolder" Name="Uninstall MediVote" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstall MediVote"/>
      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\The Median\MediVote" Name="installed" Type="integer" Value="1" KeyPath="no"/>
    </Component>
    <Feature Id="MainFeature" Title="MediVote Application" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>
    <Icon Id="medivote.ico" SourceFile="assets\medivote_icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="medivote.ico"/>
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <Upgrade Id="B8F13AEA-EA2F-43BD-8A65-304217B54907">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0" IncludeMinimum="yes" Maximum="1.0.0" IncludeMaximum="no"/>
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>
  </Product>
</Wix>
